@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar */
.navbar--element {
  @apply py-3 text-xl font-light 
  text-slate-200 hover:text-slate-400 
  transition ease-in duration-150;
}

.login-button {
  @apply p-3 font-light rounded-md 
  text-slate-200 bg-slate-800 hover:bg-slate-900 
  transition ease-in duration-150;
}


/* Home page */
.home--banner-title {
  @apply text-[50px] font-light;
}

.home--banner-subtitle {
 @apply text-[25px] font-light w-[80%];
}

.home--begin-button {
  @apply px-5 py-3 rounded-md 
  bg-green-700 hover:bg-green-800 
  transition ease-in duration-150;
}


/* Dashboard */
.dashboard--title {
  @apply text-4xl font-light;
}

.dashboard--element-container {
  @apply p-5 rounded-md bg-gray-800 
  transition ease-in hover:bg-gray-900 duration-150;
}

.dashboard--element-title {
  @apply text-2xl  font-light;
}

.dashboard--element-subtitle {
  @apply text-xl font-light;
}

.dashboard--action {
  @apply text-red-500;
}


/* Jobs */
.jobs--title {
  @apply text-[30px] font-light;
}

/* Jobs Table */
.table--head {
  @apply border border-gray-700 px-4 py-2
}

.table--data {
  @apply border border-gray-700 px-4 py-2;
}

/* Jobs Pagination */

.pagination--button {
  @apply px-3 py-2 mx-1
    bg-gray-900 rounded-md hover:bg-gray-800 disabled:bg-neutral-900 
    transition ease-in duration-150;
}

/* Filters */
.filters--label {
  @apply text-xl font-light text-gray-300;
}


.filters--text-input {
  @apply p-2 rounded-sm border
   border-slate-900 
   bg-gray-900 text-gray-300 
   outline-none;
}


/* Loading spinner */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}